

.colorTextoMarron{
    -fx-text-fill: #775134;
}

.colorTextoMarronCentrado{
    -fx-text-fill: #775134;
    -fx-alignment: CENTER; 
}


.colorTextoBeigeClaro{
    -fx-text-fill: #f2eacb;
}

.colorTextoBeigeClaroCentrado{
    -fx-text-fill: #f2eacb;
    -fx-alignment: CENTER; 
}


#imagenFondo{
    -fx-opacity: 0.4;
}


#anchorPaneLogin{
    -fx-background-color: black;
}


#paneBeige{
    -fx-background-color: beige;
    -fx-background-radius: 30px;
}


#botonIniciarSesion{
    -fx-background-color: bisque;
    -fx-background-radius: 20px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-color: #775134;
}

/* El derive al hacer el hover nos cambiar el color muy poco */
#botonIniciarSesion:hover{
    -fx-background-color: derive(bisque, -05%); 
}

.inputMarronLogin{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #775134;
    -fx-background-color: transparent;
}

#paneApagar{
    -fx-background-color: bisque;
    -fx-background-radius: 20px;
}

#paneApagar:hover{
    -fx-background-color: derive(bisque, -20%); 
}

.inputMarron{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #775134;
    -fx-background-color: #f2eacb;
}

.checkboxMarron .box{
    -fx-background-color: white;
    -fx-border-color: #775134;
    -fx-border-width: 2;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 3;
}

.tablaMarron{
    -fx-background-color: #f2eacb;
    -fx-background-radius: 4;
    -fx-border-width: 2;
    -fx-border-color: #775134;
    -fx-border-radius: 4;
}

/* El contenedor del encabezado*/
.tablaMarron .column-header-background {
    -fx-background-color: #f2eacb; /* Beige */
    /* El borde inferior está bien, ayuda a separar el encabezado de los datos */
    -fx-border-width: 0 0 2 0; 
    -fx-border-color: #775134; 
}

/* Cabeceras individuales */
.tablaMarron .column-header {
    -fx-background-color: #775134; /* Marrón oscuro */
    -fx-size: 40px; /* más altura */
    
    /* Borde derecho para separar columnas visualmente */
    -fx-border-color: transparent #f2eacb transparent transparent;
    -fx-border-width: 0 1 0 0; 
    -fx-border-insets: 5 0 5 0; /* Para que la línea no toque los bordes arriba/abajo */
    
}

.tablaMarron .table-cell {
    -fx-text-fill: #775134;
    -fx-border-color:  #775134;
    /* Grosor de la línea */
    -fx-border-width: 0.5; 
    -fx-label-padding: 3;
}


/* 3. El texto de la cabecera */
.tablaMarron .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
}

/* 4. Efecto Hover cursor por encima de una columna */
.tablaMarron .column-header:hover {
    -fx-background-color: #8a6245; 
}

/* 1. Fondo base de las filas (Color Beige) */
.tablaMarron .table-row-cell {
    -fx-background-color: #f2eacb; 
}

/* 4. FILA SELECCIONADA */
.tablaMarron .table-row-cell:selected {
    -fx-background-color: burlywood; /* Fondo Marrón */
    -fx-background-insets: 0; /* Para todo el componente */
}

/* Ajuste al seleccionar la fila (para que la línea se siga viendo bien) */
.tablaMarron .table-row-cell:selected .table-cell {
    -fx-text-fill: white; /* Texto blanco al seleccionar */
    /* Mantenemos la línea marrón a la derecha */
    -fx-border-color: #775134;
}


.blancoCentradoNegrita{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
}

.colorMarronCentradoNegrita{
    -fx-text-fill: #775134;
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
}

.paneBordesMarronRedondosPrincipal{
    -fx-background-color: rgba(245, 245, 220, 0.3);
    -fx-background-radius: 35;
    -fx-border-width: 5;
    -fx-border-color: #775134;
    -fx-border-radius: 30;
}

/* Se aplica automáticamente cuando ponemos .setDisable(true) en Java */
.paneBordesMarronRedondosPrincipal:disabled {
    -fx-border-color: #A9A9A9; /* Borde Gris Oscuro */
    -fx-opacity: 0.6;           /* Hacemos todo el botón semitransparente */
    -fx-background-color: rgba(200, 200, 200, 0.2); /* Fondo grisáceo */
}

.paneBordesMarronRedondosPrincipal:hover{
    -fx-background-color: rgba(245, 245, 220, 0.4);

}

.paneLogOut:hover{
    -fx-background-color: #e6b3a5;
    -fx-background-radius: 7;
}

#panelIrAHome:hover{
    -fx-background-color: #8a6245; /* Beige */
    -fx-background-radius: 10;
}

.botonMarron{
    -fx-background-color: #775134;
    -fx-background-radius: 20px;
}

.botonMarron:hover{
    -fx-background-color: derive(#775134, 20%); 
}

.botonBisque{
    -fx-background-color: bisque;
    -fx-background-radius: 20px;
}
.botonBisque:hover{
    -fx-background-color: derive(bisque, -20%); 
}

.paneBisqueBorderMarron{
    -fx-background-color: #f2eacb;
    -fx-background-radius: 35;
    -fx-border-width: 5;
    -fx-border-color: #775134;
    -fx-border-radius: 30;
}

.paneMesaOcupada{
    -fx-background-color: #d3b444;
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-color: #775134;
    -fx-border-radius: 15;
}

.paneMesaOcupada:hover{
    -fx-background-color: #ddc77e;
}

.paneMesaLibre{
    -fx-background-color: #7ea13e;
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-color: #775134;
    -fx-border-radius: 15;
}

.paneMesaLibre:hover{
    -fx-background-color: #86ba82;
}


.colorTextoVerde{
    -fx-text-fill: #7ea13e;
}

.colorTextoAmarillo{
    -fx-text-fill: #d3b444;
}


.comboboxBisqueSuave{
    -fx-background-color: #f2eacb;
    -fx-border-width: 2;
    -fx-border-color: #775134;
    -fx-background-radius: 5;
    -fx-border-radius: 3;
}

.comboboxBisqueSuave:hover{
    -fx-background-color: derive(#f2eacb, -5%); 
}

.panelIrAtras{
    -fx-background-color: #775134; 
    -fx-background-radius: 10;
}

.panelIrAtras:hover{
    -fx-background-color: derive(#775134, 40%); 
}

.botonGuardar{
    -fx-background-color: #468241;
    -fx-background-radius: 20px;
}

.botonGuardar:hover{
    -fx-background-color: derive(#468241, 20%); 
}


.textoError{
    -fx-text-fill: #ff6e6e;
}

/* Ponemos ".tablaMarron .table-row-cell.filaAlertaStock"
   Esto significa: "Una fila, que está dentro de la tabla marrón, Y tiene la clase de alerta".
   Al sumar clases, ganamos prioridad sobre el beige normal.
*/
.tablaMarron .table-row-cell.filaAlertaStock {
    -fx-background-color: #ffcccc; /* Rojo pastel */
    -fx-background-insets: 0;
}

/* Hover sobre la alerta */
.tablaMarron .table-row-cell.filaAlertaStock:hover {
    -fx-background-color: #ffb3b3; /* Rojo un poco más oscuro al pasar mouse */
}

/* La selección tiene prioridad*/
.tablaMarron .table-row-cell:selected.filaAlertaStock {
    -fx-background-color: #775134; /* Se mantiene marrón al seleccionar */
    -fx-text-fill: white;
}

.colorRojoPastel{
    -fx-text-fill: #de595d;
}


/* --- ESTILOS DE LA CARTA DINÁMICA --- */

/* Título de la Categoría */
.carta-titulo-categoria {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #775134;
    -fx-padding: 20 0 10 0;
    -fx-alignment: CENTER;
    /* Línea decorativa debajo del título */
    -fx-border-color: transparent transparent #775134 transparent;
    -fx-border-width: 0 0 2 0;
}

/* Contenedor de los platos de una categoría */
.carta-caja-categoria {
    -fx-padding: 10 40 30 40; /* Márgenes laterales grandes*/
}

/* Fila individual de cada plato (HBox) */
.carta-fila-plato {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5;
}

/* Nombre del plato */
.carta-nombre-plato {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #5a3e2b; /* Marrón oscuro */
}

/* Línea de puntos separadora (................) */
.carta-separador-puntos {
    -fx-border-style: dotted;
    -fx-border-color: transparent transparent #a68b75 transparent; /* Marrón clarito */
    -fx-border-width: 0 0 2 0;
    -fx-margin: 0 10 5 10; /* Margen para alinear con el texto */
}

/* Precio del plato */
.carta-precio-plato {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #775134; /* Marrón estándar */
}


/* --- ESTILOS DEL HISTORIAL DE TICKETS --- */
/* Mensaje cuando no hay historial */
.historial-label-vacio {
    -fx-font-size: 18px;
    -fx-text-fill: #775134;
    -fx-font-weight: bold;
    -fx-padding: 20;
}

/* La tarjeta del ticket (tipo papel) */
.historial-tarjeta-ticket {
    -fx-background-color: #fffbf0; /* Blanco roto / Hueso */
    -fx-border-color: #775134;     /* Borde Marrón */
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 2);
}

/* Cabecera del ticket (Mesa y Fecha) */
.historial-header-ticket {
    -fx-font-weight: bold;
    -fx-text-fill: #775134;
    -fx-font-size: 14px;
}

/* Cuerpo del ticket (Lista de productos) */
.historial-productos-ticket {
    -fx-text-fill: #555555; /* Gris oscuro para diferenciar */
    -fx-font-style: italic;
}

/* Pie del ticket (Pago y Total) */
.historial-total-ticket {
    -fx-font-weight: bold;
    -fx-text-fill: #468241; /* Verde dinero */
    -fx-font-size: 14px;
}