

.colorTextoMarron{
    -fx-text-fill: #775134;
    -fx-alignment: CENTER; 

}

.colorTextoBeigeClaro{
    -fx-text-fill: #f2eacb;
    -fx-alignment: CENTER; 

}


#imagenFondo{
    -fx-opacity: 0.4;
}


#anchorPaneLogin{
    -fx-background-color: black;
}


#paneBeige{
    -fx-background-color: beige;
    -fx-background-radius: 30px;
}


#botonIniciarSesion{
    -fx-background-color: bisque;
    -fx-background-radius: 20px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-color: #775134;
}

/* El derive al hacer el hover nos cambiar el color muy poco */
#botonIniciarSesion:hover{
    -fx-background-color: derive(bisque, -05%); 
}

.inputMarronLogin{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #775134;
    -fx-background-color: transparent;
}

#paneApagar{
    -fx-background-color: bisque;
    -fx-background-radius: 20px;
}

#paneApagar:hover{
    -fx-background-color: derive(bisque, -20%); 
}

.inputMarron{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #775134;
    -fx-background-color: #f2eacb;
}

.checkboxMarron .box{
    -fx-background-color: white;
    -fx-border-color: #775134;
    -fx-border-width: 2;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 3;
}

.tablaMarron{
    -fx-background-color: #f2eacb;
    -fx-background-radius: 4;
    -fx-border-width: 2;
    -fx-border-color: #775134;
    -fx-border-radius: 4;
}

/* El contenedor del encabezado*/
.tablaMarron .column-header-background {
    -fx-background-color: #f2eacb; /* Beige */
    /* El borde inferior está bien, ayuda a separar el encabezado de los datos */
    -fx-border-width: 0 0 2 0; 
    -fx-border-color: #775134; 
}

/* Cabeceras individuales */
.tablaMarron .column-header {
    -fx-background-color: #775134; /* Marrón oscuro */
    -fx-size: 40px; /* más altura */
    
    /* Borde derecho para separar columnas visualmente */
    -fx-border-color: transparent #f2eacb transparent transparent;
    -fx-border-width: 0 1 0 0; 
    -fx-border-insets: 5 0 5 0; /* Para que la línea no toque los bordes arriba/abajo */
    
}

/* 3. El texto de la cabecera */
.tablaMarron .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
}

/* 4. Efecto Hover cursor por encima de una columna */
.tablaMarron .column-header:hover {
    -fx-background-color: #8a6245; 
}


.blancoCentradoNegrita{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER; 
}

.paneBordesMarronRedondos{
    -fx-background-color: rgba(245, 245, 220, 0.3);
    -fx-background-radius: 35;
    -fx-border-width: 5;
    -fx-border-color: #775134;
    -fx-border-radius: 30;
    
}

.paneBordesMarronRedondos:hover{
    -fx-background-color: rgba(245, 245, 220, 0.4);

}

.paneLogOut:hover{
    -fx-background-color: #e6b3a5;
    -fx-background-radius: 7;
}

#panelIrAHome:hover{
    -fx-background-color: #8a6245; /* Beige */
    -fx-background-radius: 10;

}